$def with(data)
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tiendas</title>
</head>

<body style="background-color:#1976D2;color:white">
    
        <h1 align="center" style="color:white">Comercios Registrados</h1>
    <br>
    <button type="button" style="border-radius: 10px;width: 230px;height:50px;align=center;background-color:#FF8F00"><a href="mapa">Consultar mapa</a></button>
        
            <table align="center" border="1px" style="background-color:grey">
                <tr>
                    <th style="border:1px solid white">Comercio</th>
                    <th style="border:1px solid white">Producto</th>
                    <th style="border:1px solid white">Precio</th>
                </tr>
                $for row in data:
                <tr>
                    <td style="width:300px ">$row['nombreComercial']</td>
                    <td style="width:200px ">$row['producto']</td>
                    <td style="width:100px ">$row['precio']</td>
                </tr>
            </table>
</body>

</html>