$def with(ubi)
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Ubicacion de Comercios</title>
</head>

<body style="background-color:#FFA000">
    
        <h1 align="center" style="color:white">Ubicacion de Comercios Registrados</h1>
    
    <br>
    <div style="width:80%;margin:auto; border-radius:30px">
        <iframe width="100%" height="520" frameborder="0" src="https://kike96.carto.com/viz/b77b89d6-a705-11e6-8cdd-0ef7f98ade21/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </div>
    <br>
    <div style="width:80%; background-color:#039BE5; margin:auto; border-radius:30px">
     <table align="center" border="1px" style="background-color:white">
                <tr>
                    <th style="border:1px solid white">Comercio</th>
                    <th style="border:1px solid white">Longitud</th>
                    <th style="border:1px solid white">Latitud</th>
                </tr>
                $for row in ubi:
                <tr>
                    <td style="width:300px ">$row['nombreComercial']</td>
                    <td style="width:200px ">$row['longitud']</td>
                    <td style="width:100px ">$row['latitud']</td>
                </tr>
            </table>
            </div>
</body>
</html>